﻿@model Student.Library.Students
@{
    ViewBag.Title = "Create";
}
<div id="body">
    <h2>Create New Students</h2>
    <form id="students" method="post" action="@Url.Action("Create")">
        <div class="form-group">
            <label for="ProductName">Students First Name:</label>
            <input data-val="true" data-val-required="Please Fill the First Name." type="text" name="FirstName" id="FirstName" />
            <span class="field-validation-valid" data-valmsg-for="FirstName" data-valmsg-replace="true"></span>
        </div>
        <div class="form-group">
            <label for="Category">Student Last Name:</label>
            <input data-val="true" data-val-required="Please Fill the Last Name." type="text" name="LastName" id="LastName" />
            <span class="field-validation-valid" data-valmsg-for="LastName" data-valmsg-replace="true"></span>
        </div>
        <div class="form-group">
            <label for="Price">EnrollmentDate:</label>
            <input data-val="true" data-val-required="Please Fill EnrollmentDate." type="text" name="EnrollmentDate" id="EnrollmentDate" />
            <span class="field-validation-valid" data-valmsg-for="EnrollmentDate" data-valmsg-replace="true"></span>
        </div>       
        <div class="form-group">
            <input type="submit" value="Create" />
        </div>
    </form>
    <div>
        @Html.ActionLink("Back to List", "Index")
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
