﻿@{
    ViewBag.Title = "Edit";
}

<h2>Update</h2>
<div class="container">
    <form id="edit" name="edit" method="post" action="@Url.Action("Edit")">
        <div class="form-group">
            <input type="hidden" value="@Model.ID" name="ID" />
            <label for="FirstName">First Name:</label>
            <input type="text" name="FirstName" id="FirstName" value="@Model.FirstName" />
        </div>
        <div class="form-group">
            <label for="LastName">Last Name:</label>
            <input type="text" name="LastName" id="LastName" value="@Model.LastName" />
        </div>        
        <div class="form-group">
            <label for="Price">EnrollmentDate:</label>
            <input type="text" name="EnrollmentDate" id="EnrollmentDate" value="@Model.EnrollmentDate" />
        </div>
        <div class="form-group">
            <input type="submit" value="Submit" />
        </div>
    </form>
</div>
