﻿@model List<Student.Library.Students>

<div class="container">   
    <table class="table table-hover">
        <thead>
            <tr>
                <th>Student Id</th>
                <th>First Name</th>
                <th>Last Name</th>
                <th>EnrollmentDate</th>                
                <th>Edit</th>
                <th>Delete</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var student in Model)
            {
                <tr>
                    <td>@student.ID</td>
                    <td>@student.FirstName</td>
                    <td>@student.LastName</td>
                    <td>@student.EnrollmentDate</td>                   
                    <td>@Html.ActionLink("Edit", "Edit", new { ID = student.ID })</td>
                    <td>@Html.ActionLink("Delete", "Delete", new { student.ID })</td>
                </tr>
            }
            @Html.ActionLink("Create New", "Create")
        </tbody>
    </table>  
</div>





