﻿<div id="body">
    <section class="content-wrapper main-content clear-fix">
        <div>
            <h2>All Students</h2>
            <ul id="students" />
        </div>
        <div>
            <h2>Search by ID</h2>
            <input type="text" id="prodId" size="5" />
            <input type="button" value="Search" onclick="find();" />
            <p id="product" />
        </div>
        <div>
            <h2>Get Products By Category</h2>
            <input type="text" id="cat" size="15" />
            <input type="button" value="Get Products By category" onclick="getProductsByCategory();" />
            <p id="catproducts" />
        </div>
    </section>
</div>
@section scripts {
    <script>
        var apiUrl = 'api/students';
        $(document).ready(function () {
            $.getJSON(apiUrl)
            .done(function (data) {
                //On sucess,'data'contains a list of students
                $.each(data, function (key, item) {
                    //Add a list item fo the students
                    var str = item.ID + ' ' + item.FirstName + ' ' + item.LastName;
                    $('<li>', { text: str }).appendTo($('#students'));
                });
            });           
        });
       
    </script>
}
